body{
	background: #FFC096;
    /*background: #008080 !important;*/
}

header{
	background; #FFE0CB;
    height:90px;
    padding:0 20px;
}
header img{
    padding-top:5px;
}

.reveal h2{
    color:#fff !important;
    text-transform:capitalize !important;
	font-family:"asap";
}

.reveal h3{
	color:#fff;
	font-family:"asap";
}

.reveal p{
    color:#000 !important;
}

.reveal td{
	vertical-align:middle;
}

.reveal.center, .reveal.center .slides, .reveal.center .slides section {
  min-height: 0 !important;
  width: 94% !important;
}

.form-filter{
    padding-top:25px;
}

.menubar {
    margin: 0;
    padding: 0;
    border: 1px dashed red;
    /*background: #fff;*/
}


.slide-background{
  /*box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);*/
}

.slide-background.categoria{
  box-shadow: 0;
}

section.sub-simu .simudescription{
    padding:0px;
}

.simudescription{
    cursor: pointer;
    background-color: transparent;
    /* -webkit-border-radius: 10px; */
	/*    border-radius: 10px;*/
}

.simudescription,
.simudescription p{
    /*color: #000 !important;*/
    font-size:0.75em;
	font-family:"asap";

}

.btn-default{
    color:#fff !important;
    background-color:#ffb380 !important;
}

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled{
    border-left-color:#803300;
}

.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled{
    border-right-color:#803300;
}

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled{
    border-bottom-color:#803300;
}

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled{
    border-top-color:#803300;
}
