body{
    /*background: #008080 !important;*/
}

header{
    height:90px;
    padding:0 20px;
}
header img{
    padding-top:5px;
}

.reveal h2{
    color:#000 !important;
    text-transform:capitalize !important;
}
.reveal p{
    color:#000 !important;
}

.form-filter{
    padding-top:25px;
}

.menubar {
    margin: 0;
    padding: 0;
    border: 1px dashed red;
    /*background: #fff;*/
}


.slide-background{
  /*box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);*/
}

.slide-background.categoria{
  box-shadow: 0;
}

section.sub-simu .simudescription{
    padding:20px;
}

.simudescription{
    cursor: pointer;
    background-color: rgba(225,225,225,0.9);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.simudescription,
.simudescription p{
    /*color: #000 !important;*/
    font-size:0.9em;

}

.btn-default{
    color:#fff !important;
    background-color:#ffb380 !important;
}

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled{
    border-left-color:#ffb380;
}

.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled{
    border-right-color:#ffb380;
}

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled{
    border-bottom-color:#ffb380;
}

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled{
    border-top-color:#ffb380;
}
