#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Simulaciones Interactivas
Name[es_AR]=Simulaciones Interactivas
Exec=/usr/bin/huayra-simulaciones-interactivas
Comment=Simulaciones Interactivas Huayra
Comment[es_AR]=Simulaciones Interactivas Huayra
Icon=simulaciones
