.barra-inferior {
  width: 100%;
  background: #fff;
  position: relative;
  padding-top: 5px;
}

.izquierda {
  display: inline-block;
  position:absolute;
  left: 5px;
  padding-top: 8px;
  text-shadow: none;
  font-family: Asap, sans-serif;
  font-size: 14px;
}

.derecha {
  display: inline-block;
  position:absolute;
  right: 5px;
}

.derecha .img-button {
  height: 30px;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
