body{
    background: #008080 !important;
}

header{
    height:90px;
}
header img{
    padding-top:5px;
}

.form-filter{
    padding-top:25px;
}

.menubar {
    margin: 0;
    padding: 0;
    border: 1px dashed red;
    background: #fff;
}

.simudescription {
    background-color: rgba(225,225,225,0.85);
    cursor: pointer;
}
